@charset "utef-8";
/*Bildergalerie, 17.122.2017, Lukas Eder*/

body{
	background-color: #ccf;
}

figure{
	position:relative;
	width:100px;
	height:150px;
	float:left;
	margin:10px;
	text-align:center;
}

img{
	border-width:0px;
}

figcaption{
	position:absolute;
	top:100px;
	width:100%;
	text-align:center;
}